# Robot Framework eredmények
results/
results/*

# Python cache fájlok
__pycache__/
*.pyc
*.pyo
#venv fájlok
.venv/

# Flask cache
instance/
.webassets-cache

# IDE fájlok
.vscode/
.idea/

# OS fájlok
.DS_Store
Thumbs.db

# Temp fájlok
*.tmp
*.temp

# Log fájlok
*.log
output.xml
report.html
log.html

#munka json fájlok
execution_results.json

# GitHub API cache
repos_response.json

# GitHub release meta cache
releases_cache.json

# GitHub token (NE commitold!)
github_token.txt
.env